{% extends 'layout/base.html' %}
{% load custom_filters %}

{% block title %}
    NewsPosts
{% endblock title %}


{% block content %}
        <h1>All NewsPosts</h1>
            <p>News count: {{ posts|length }}</p>
        <hr>
    {% if posts %}
    <form method="GET">
       {{ filter.form }}
       <!-- Форму от фильтров за нас сделает Django. А вот кнопку, увы, придётся делать самим -->
       <input class="btn btn-primary" type="submit" value="Найти">
    </form>
        <table class="table">
            <tr>
                <th scope="col">Номер</th>
                <th scope="col">Заголовок</th>
                <th scope="col">Дата публикации</th>
                <th scope="col">Текст статьи</th>
                <th scope="col">Автор</th>
            </tr>
            {% for post in posts %}
            <tr>
                <td>{{ post.id }}</td>
                <td>{{ post.title|censored }}</td>
                <td>{{ post.data_post_creation|date:"d M Y" }}</td>
                <td>{{ post.text|censored|truncatewords:15 }}</td>
                <td>{{ post.author }}</td>
            </tr>
            {% endfor %}
        </table>
    {% include 'newspaper/parts/paginator.html' %}
    {% else %}
        <h2>No NewsPosts</h2>
    {% endif %}

<form method="POST">
   {% csrf_token %}
   {{ form }}
   <!-- Теперь нам нужна только готовая форма и кнопка -->
   <input class="btn btn-success" type="submit" value="Add">
</form>

{% endblock content %}